*{
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    font-family: 'Expletus Sans';
    background: rgba(0,0,0,0.9);
}

#showcase::after{
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url(showcase.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;

}
 
#showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);

}

.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 30px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .title{
    font-size: 2.2rem;
    color: black;
    margin-top: 1rem;
}

.content .text{
    font-size: 1rem;
    color: gray;
    line-height: 1.7;
    margin-top: 1rem;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;

}

.grid-item {
    background-color: black;
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
